<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#contenedorVendedores">Vendedores</a></li>
    <li><a data-toggle="tab" href="#contenedorAdministradores">Administradores</a></li>
</ul>
  <div class="tab-content">
      <div id="contenedorVendedores" class="tab-pane fade in active">
      </div>

      <div id="contenedorAdministradores" class="tab-pane fade">
      </div>
  </div>