<a href="#" id="" class="list-group-item" style="margin-bottom: 20px; background-color: #2C3E50; color:#ECF0F1"><h3>Opciones de administrador</h3></a>
<a href="#" id="menuProductos" class="list-group-item active textoMenuActive">Productos</a>
<a href="#" id="menuUsuarios" class="list-group-item active textoMenuActive" style="margin-top: 5%;">Usuarios</a>
<a href="#" id="menuProveedores" class="list-group-item active textoMenuActive" style="margin-top: 5%;">Proveedores</a>
<a href="javascript:hacerReportes()" id="menuReportes" class="list-group-item active textoMenuActive" style="margin-top: 5%;">Reportes</a>
<a href="#" id="menuTerminalDeCompras" style="margin-top: 5%;" class="list-group-item active textoMenuActive">Terminal de Compras</a>
<a href="#" id="" class="list-group-item active textoMenuActive" onclick="mostrarCerrarSesion()" style="margin-top: 5%;">Cerrar sesión <span style="margin-top:5px;float:right;" class="glyphicon glyphicon-off" aria-hidden="true"></span></a>


<!-- - - - - - - - - - - - - - - - - - - - - - Cierre Modal Ver Caja -->
<script type="text/javascript">


//------ Cambio de vista ----- //
//$(document).ready(function(){

//});
  $("#menuProductos").click(function(){
    $("#panelContenedor").innerHTML= '';
    $("#panelBusqueda").innerHTML= '';
    $().initPanelProductos();  
   // $("#menuProductos").addClass("active textoMenuActive");
  });

  $("#menuTerminalDeCompras").click(function(){
    $("#panelContenedor").innerHTML= '';
    $("#panelBusqueda").innerHTML= '';
    $().initTerminalDeCompra();  
  });

  $("#menuUsuarios").click(function(){
    //$("#panelBusqueda").innerHTML= '';
      $("#panelContenedor").innerHTML= '';
      $("#panelContenedor").load("vista/terminalAdministrador/html/vistaUsuarios.html");
      $().initPanelUsuarios();
  });

  $("#menuProveedores").click(function(){
    $("#panelContenedor").innerHTML= '';
    $("#panelBusqueda").innerHTML= '';
    $().initPanelProveedores();  
  });

//------------------------------------- Eventos de los botones -------------------------------------//
$('#botonNuevoProducto').click(function(){
      $("#tituloModal").text("Alta de productos");
      document.getElementById('contenedorProductos').innerHTML = '';
      //-- Agrego el boton para agregar Productos
      document.getElementById('botonAgregarProducto').innerHTML = '<div style="width:100%;float:right;"><button  type="button" class="btn btn-default" onclick="agregarProducto()" style="width:100%;float:left;"><span class="glyphicon glyphicon-plus"  style="color: #E74C3C" aria-hidden="true"></span> Producto</button></div>';
      //--------
      document.getElementById('nombreProducto1').value = '';
      document.getElementById('precioCompra1').value = 0;
      document.getElementById('porcentajeVenta1').value = 0;
      document.getElementById('cantidadProducto1').value = 0;
      document.getElementById('precioProducto1').value = '';
});

$('#botonNuevoUsuario').click(function(){
    $("#tituloModal").text("Alta de usuario");
    document.getElementById('apellidoUsuario').value = '';
    document.getElementById('nombreUsuario').value = '';
    document.getElementById('dniUsuario').value = '';
    document.getElementById('contrasena').value = '';
    document.getElementById('contrasena2').value = '';
});
  
</script>
