<script type="text/javascript" src="vista/terminalAdministrador/js/terminalAdministrador.js"></script>
<script type="text/javascript" src="vista/terminalAdministrador/js/panelProductos.js"></script>
<script type="text/javascript" src="vista/terminalAdministrador/js/panelProveedores.js"></script>
<script type="text/javascript" src="vista/terminalAdministrador/js/panelUsuarios.js"></script>
<script type="text/javascript" src="vista/terminalAdministrador/js/panelCajas.js"></script>
<script type="text/javascript" src="vista/terminalAdministrador/js/panelCompra.js"></script>
<script type="text/javascript" src="vista/terminalAdministrador/js/panelTerminalDeCompra.js"></script>
<script type="text/javascript">initTerminalAdministrador();</script>
<nav class="navbar navbar-default">
            <div class="container" id="nombreUsuarioActual" style="margin-top: 15px;text-align: center;width:100%;">
            
            </div>
          </nav>

            <div id="panelBusqueda">
              

            </div>

            <div class="row" style=" margin-top:10%; padding-left: 2%; padding-right:2%" >
              <div id="verContenedor" class="col-lg-12">
                    <nav data-toggle="collapse" data-parent="#verContenedor" name="" class="list-group-item row" aria-label="Page navigation">
                          <!-- Colocar el buscador calendario aca -->
                          <div id="panelResultados" class="tab-content fade col-lg-12 active in">
                          </div>
                          <div id="panelContenedor" class="tab-content fade col-md-12 active in">
                          </div>
                          <ul id="paginationContenedor" name="paginationContenedor[]" class="pagination">
                            <!-- Aca se cargaron las referencias a las paginas-->
                          </ul>

                    </nav>
                <!--ul class="list-group" id="panelContenedor">

                </ul-->
              </div>
            </div>

<!-- - - - - - - - - - - - - - -  MODAL PRODUCTOS - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

  <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="modalNuevoProducto" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" style="background-color: #ECF0F1">

      <h3 style="color: #ECF0F1; background-color: #D94738; padding: 1%; padding-left: 5%">Agregar Producto</h3>

      <div style="margin: 50px;">
        <div class="alert alert-danger" id="error" role="alert" style="display:none;text-align: center,">
        </div>

        <div class="row">

          <div class="col-md-12">
 

            <table class="table">
                <thead>
                <tr>
                  <th style="text-align: center;">Nombre</th>
                  <th style="text-align: center;">Venta por</th>
                  <th style="text-align: center;">Cantidad</th>
                  <th style="text-align: center;">Precio de compra</th>
                  <th style="text-align: center;">Comisión</th>
                  <th style="text-align: center;">Precio de Venta</th>
                  <th style="text-align: center;"></th>
                </tr>
              </thead>
                <tbody>
                    <tr class="Producto" title="1">
                      <td align="center"> 
                          <input id="nombreProducto1" type="text" class="form-control" placeholder="Nombre del producto" aria-describedby="basic-addon1">
                      </td>
                      <td align="center"> 
                          <select class="form-control" id="tipoVenta1" style="width:145%" onchange="ajustarTipoVenta(1)" name="tipoVenta1[]">
                                <option value="0">Unidades</option>
                                <option value="1">Peso ($)</option>
                          </select> 
                      </td>
                      <td>
                        <input id="cantidadProducto1" type="number" style="width: 85%; float: right;" step="1" class="form-control" placeholder="Stock Actual" aria-describedby="basic-addon1" value="0">
                      </td>
                      <td>
                        <input id="precioCompra1" onchange="calcularPrecioVenta('pc','1')" type="number" step="0,01" class="form-control" placeholder="Precio de la compra del producto" aria-describedby="basic-addon1" value="0">
                      </td>
                      <td>
                        <input id="porcentajeVenta1" onchange="calcularPrecioVenta('com','1')" type="number" step="1" class="form-control" placeholder="Comision" aria-describedby="basic-addon1" value="0">
                      </td>
                      <td>
                        <input id="precioProducto1" onchange="calcularPrecioVenta('pv','1')" type="number" step="0,01" class="form-control" placeholder="Precio de venta" aria-describedby="basic-addon1">
                      </td>
                    </tr>
                </tbody>
                <tbody id="contenedorProductos">
                
                </tbody>
            </table>
           <div hidden="ture" id="idProducto"></div>

            <div class="row" id="botonAgregarProducto" style="float:right;padding-top:5%;"><div style="width:100%;float:right;"><button  type="button" class="btn btn-default" onclick="agregarProducto()" style="width:100%;float:left;"><span class="glyphicon glyphicon-plus"  style="color: #E74C3C" aria-hidden="true"></span> Producto</button></div></div>

          </div>

          <div class="col-md-6">           

          </div>
          
          <button type="button" id="botonGuardarProducto" class="btn btn-primary" onclick="guardarProductos()" style="float: right; margin-right: 10%; margin-top: 10%; background-color: #2C3E50; border-color: #2C3E50; color: #ECF0F1">Guardar</button>
          
        </div>
    
      </div>
    </div>
  </div>

</div>


<!-- - - - - - - - - - - - - - -  MODAL Usuarios - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
  <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="modalNuevoUsuario" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" style="background-color: #ECF0F1">

      <h3 style="color: #ECF0F1; background-color: #D94738; padding: 1%; padding-left: 5%">Agregar Usuario</h3>

      <div style="margin: 50px;">
        <div class="alert alert-danger" id="errorUsuario" role="alert" style="display:none;text-align: center,">
        </div>

        <div class="row">

          <div class="col-md-12">
 
            <div class="col-md-6">



                  <div class="input-group">
                    <span class="input-group-addon" style="width: 40%;background-color: #2980B9; color:#ECF0F1 ; border-color: #2980B9" >Nombre</span>
                    <input id="nombreUsuario" type="text" class="form-control" placeholder="Nombre del usuario" aria-describedby="basic-addon1">
                  </div>


                  <div class="input-group">
                    <span class="input-group-addon" style="width: 40%;background-color: #3498DB; color:#ECF0F1; border-color: #3498DB">DNI</span>
                    <input id="dniUsuario" type="number" step=1 min=1 class="form-control" placeholder="DNI del usuario" aria-describedby="basic-addon1">
                  </div>

                  <div class="input-group">
                    <span class="input-group-addon" style="width: 40%;background-color: #2980B9; color:#ECF0F1 ; border-color: #2980B9" >Contraseña</span>
                    <input id="contrasena" type="password" class="form-control" aria-describedby="basic-addon1">
                  </div>
                  <div class="input-group">
                    <span class="input-group-addon" style="width: 40%;background-color: #2980B9; color:#ECF0F1 ; border-color: #2980B9" >Repetir Contraseña</span>
                    <input id="contrasena2" type="password" class="form-control" aria-describedby="basic-addon1">
                  </div>

          </div>

          <div class="col-md-6">

                  <div class="input-group">
                    <span class="input-group-addon" style="width: 40%;background-color: #3498DB; color:#ECF0F1 ; border-color: #3498DB" >Apellido</span>
                    <input id="apellidoUsuario" type="text" class="form-control" placeholder="Apellido del usuario" aria-describedby="basic-addon1">
                  </div>

                  <div class="input-group">
                    <span class="input-group-addon" style="width: 40%;background-color: #2980B9; color:#ECF0F1 ; border-color: #2980B9">Tipo de usuario</span>
                    <select class="form-control" id="selectTipoUsuario" style="width:72%; float:left" name="selectTipoUsuario[]">
                      <option value="0">Administrador</option>
                      <option value="1">Vendedor</option>
                    </select> 
                  </div>


          </div>


           <div hidden="ture" id="idUsuario"></div>


          </div>

          <div class="col-md-6">           

          </div>
          
          <button type="button" id="botonGuardarUsuario" class="btn btn-primary" onclick="guardarUsuario()" style="float: right; margin-right: 10%; margin-top: 10%; background-color: #2C3E50; border-color: #2C3E50; color: #ECF0F1">Guardar</button>
          
        </div>
    
      </div>
    </div>
  </div>

</div>



<!-- - - - - - - - - - - - - - -  MODAL proveedores - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
  <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="modalNuevoProveedor" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" style="background-color: #ECF0F1">

      <h3 style="color: #ECF0F1; background-color: #D94738; padding: 1%; padding-left: 5%">Agregar Proveedor</h3>

      <div style="margin: 50px;">
        <div class="alert alert-danger" id="errorProveedor" role="alert" style="display:none;text-align: center,">
        </div>

        <div class="row">

          <div class="col-md-12">
 
            <div class="col-md-6">



                  <div class="input-group">
                    <span class="input-group-addon" style="width: 40%;background-color: #2980B9; color:#ECF0F1 ; border-color: #2980B9" >Razón social</span>
                    <input id="razonsocialProveedor" type="text" class="form-control" placeholder="Nombre de ejemplo" aria-describedby="basic-addon1">
                  </div>


                  <div class="input-group">
                    <span class="input-group-addon" style="width: 40%;background-color: #3498DB; color:#ECF0F1; border-color: #3498DB">CUIT</span>
                    <input id="cuitProveedor" type="number" step=1 min=1 class="form-control" placeholder="(sin guiones)" aria-describedby="basic-addon1">
                  </div>


          </div>

          <div class="col-md-6">

                  <div class="input-group">
                    <span class="input-group-addon" style="width: 40%;background-color: #2980B9; color:#ECF0F1 ; border-color: #2980B9" >Teléfono</span>
                    <input id="telefonoProveedor" type="numbre" class="form-control" placeholder="Teléfono del proveedor" aria-describedby="basic-addon1">
                  </div>

                  <div class="input-group">
                    <span class="input-group-addon" style="width: 40%;background-color: #3498DB; color:#ECF0F1 ; border-color: #3498DB" >E-Mail</span>
                    <input id="emailProveedor" type="text" class="form-control" placeholder="ejemplo@ejemplo" aria-describedby="basic-addon1">
                  </div>



          </div>


           <input type="text" hidden="true" id="idProveedor"></div>


          
          <button type="button" id="botonGuardarProveedor" class="btn btn-primary" onclick="guardarProveedor()" style="float: right; margin-right: 10%; margin-top: 5%; background-color: #2C3E50; border-color: #2C3E50; color: #ECF0F1">Guardar</button>
          </div>

          
        </div>
    
      </div>
    </div>
  </div>

</div>



<!-- - - - - - - - - - - - - - - - - - - - - - Modal Ver Caja- - - - - - - - - - - - - - - - - - - - - -->
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="modalMostrarCaja" aria-hidden="true" style="z-index:1400">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="background-color: #ECF0F1">
          
          <h3 style="color: #ECF0F1; background-color: #D94738; padding: 1%; padding-left: 5%">Resumen de Caja</h3>
          
          <div style="margin: 50px;">
            
            <div class="row">
                <ul class="nav nav-tabs">
                  <li class="active"><a data-toggle="tab" href="#contenedorDatosCaja">Datos de Caja</a></li>
                  <li><a data-toggle="tab" href="#contenedorVentas">Ventas</a></li>
                  <li><a data-toggle="tab" href="#contenedorRetiros">Retiros</a></li>
              </ul>
                <div class="tab-content">
                    <div id="contenedorDatosCaja" class="tab-pane fade in active">
                    </div>

                    <div id="contenedorVentas" class="tab-pane fade">
                    </div>

                    <div id="contenedorRetiros" class="tab-pane fade">
                    </div>
                </div>
            
            </div>
          
          </div>
        
        </div>
    
    </div>
</div>

<!-- - - - - - - - - - - - - - - - - - - - - - Modal Ver Compra- - - - - - - - - - - - - - - - - - - - - -->
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="modalMostrarCompra" aria-hidden="true" style="z-index:1400">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="background-color: #ECF0F1">
          
          <h3 style="color: #ECF0F1; background-color: #D94738; padding: 1%; padding-left: 5%">Resumen de Compra</h3>
          
          <div style="margin: 50px;">
            
            <div class="row">
                <ul class="nav nav-tabs">
                  <li class="active"><a data-toggle="tab" href="#contenedorDatosCompra">Datos de Compra</a></li>
                  <!--li><a data-toggle="tab" href="#contenedorVentas">Ventas</a></li-->
                  <li><a data-toggle="tab" href="#contenedorCompraProductos">Productos</a></li>
              </ul>
                <div class="tab-content">
                    <div id="contenedorDatosCompra" class="tab-pane fade in active">
                    </div>

                    <!--div id="contenedorVentas" class="tab-pane fade">
                    </div-->

                    <div id="contenedorCompraProductos" class="tab-pane fade">
                    </div>
                </div>
            
            </div>
          
          </div>
        
        </div>
    
    </div>
</div>

<!-- - - - - - - - - - - - - -  - - - - - - - - - - - - - - - - - - - MODAL VER USUARIO ADMINISTRADOR - - - - - - - - - - - - - -->
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="modalVerUsuarioAdministrador" style="z-index:1200;overflow-y: scroll;">
        <div class="modal-dialog modal-lg">
                  <div class="modal-content" style="background-color: #ECF0F1">
                <!-- <form action="api.php" method="post"> -->
                    <h3 style="color: #ECF0F1; background-color: #D94738; padding: 1%; padding-left: 5%" id="tituloModalUsuariosAdm"></h3>
                      <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#verUsuarioA">Usuario</a></li>
                                <li><a data-toggle="tab" href="#verCompras">Compras</a></li>
                                <li><a data-toggle="tab" href="#verRetiros">Retiros</a></li>
                                <li><a data-toggle="tab" href="#verReportes">Reportes</a></li>
                      </ul>

                      <div class="tab-content">
                                <div id="verUsuarioA" class="tab-pane fade in active">
                                  <!--ACA SE MUESTRA EL TRATAMIENTO-->
                                  <div style="padding: 3%">
                                                <div class="row">
                                                        <div class="col-md-6">
                                                                  <b>Nombre: </b><li class="list-group-item" id="nombreUsuarioA">-</li>
                                                                  <b>DNI: </b><li class="list-group-item" id="dniUsuarioA">-</li>
                                                                  <b>Ultimo acceso: </b><li class="list-group-item" id="obraSocial">-</li>
                                                        </div>
                                                        <div class="col-md-6">
                                                                  <b>Apellido:</b><li class="list-group-item" id="apellidoUsuarioA">-</li>
                                                                  <b>Tipo:</b><li class="list-group-item" id="tipoUsuarioA" >-</li>
                                                                  <b>Estado:</b><li class="list-group-item" id="estadoUsuarioA" >-</li>
                                                        </div>

                                                </div>

                                        </div>
                                </div>
                                <div id="verCompras" class="tab-pane fade col-md-12">
                                        <nav data-toggle="collapse" data-parent="#verCompras" name="" class="list-group-item row" aria-label="Page navigation">
                                              <!-- Colocar el buscador calendario aca -->
                                              <div id="listaCompras" class="tab-content fade col-md-12 active in">
                                              </div>
                                              <ul id="paginationCompras" name="paginationCompras[]" class="pagination">
                                                <!-- Aca se cargaron las referencias a las paginas-->
                                              </ul>
                                        </nav>
                                                                                 

                                </div>
                                <div id="verRetiros" class="tab-pane fade col-md-12">

                                        <nav data-toggle="collapse" data-parent="#verRetiros" name="" class="list-group-item row" aria-label="Page navigation">
                                              <!-- Colocar el buscador calendario aca -->
                                              <div id="listaRetiros" class="tab-content fade col-md-12 active in">
                                              </div>
                                              <ul id="paginationRetiros" name="paginationRetiros[]" class="pagination">
                                                <!-- Aca se cargaron las referencias a las paginas-->
                                              </ul>
                                        </nav>
                                </div>
                                <div id="verReportes" class="tab-pane fade col-md-12">
                                        <nav data-toggle="collapse" data-parent="#verReportes" name="" class="list-group-item row" aria-label="Page navigation">
                                              <!-- Colocar el buscador calendario aca -->
                                              <div id="listaReportes" class="tab-content fade col-md-12 active in">
                                              </div>
                                              <ul id="paginationResportes" name="paginationReportes[]" class="pagination">
                                                <!-- Aca se cargaron las referencias a las paginas-->
                                              </ul>
                                        </nav>

                                </div>
                      </div>
                </div>

        </div>
</div>

<!-- - - - - - - - - - - - - -  - - - - - - - - - - - - - - - - - - - MODAL VER USUARIO VENDEDOR - - - - - - - - - - - - - -->
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="modalVerUsuarioVendedor" style="z-index:1200;overflow-y: scroll;">
        <div class="modal-dialog modal-lg">
                  <div class="modal-content" style="background-color: #ECF0F1">
                <!-- <form action="api.php" method="post"> -->
                    <h3 style="color: #ECF0F1; background-color: #D94738; padding: 1%; padding-left: 5%" id="tituloModalUsuariosVen"></h3>
                      <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#verUsuarioV">Usuario</a></li>
                                <li><a data-toggle="tab" href="#verCajas">Cajas</a></li>
                      </ul>
                      <div class="tab-content">
                                <div id="verUsuarioV" class="tab-pane fade in active">
                                  <!--ACA SE MUESTRA EL TRATAMIENTO-->
                                  <div style="padding: 3%">
                                                <div class="row">
                                                        <div class="col-md-6">
                                                                  <b>Nombre: </b><li class="list-group-item" id="nombreUsuarioV">-</li>
                                                                  <b>DNI: </b><li class="list-group-item" id="dniUsuarioV">-</li>
                                                                  <b>Ultimo acceso: </b><li class="list-group-item" id="obraSocial">-</li>
                                                        </div>
                                                        <div class="col-md-6">
                                                                  <b>Apellido:</b><li class="list-group-item" id="apellidoUsuarioV">-</li>
                                                                  <b>Tipo:</b><li class="list-group-item" id="tipoUsuarioV" >-</li>
                                                                  <b>Estado:</b><li class="list-group-item" id="estadoUsuarioV" >-</li>
                                                        </div>

                                                        <div class="col-md-12" style="padding-top: 3%">
                                                                <b>Observaciones: </b><textarea class="form-control container" rows="5" id="observacionesUsuarioV"></textarea>
                                                        </div>
                                                        <input type="hidden" id="idUsuarioV">

                                                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalVerUsuarioVendedor" onclick="guardarObservacion()" style="float: right; margin-right: 10%; margin-top: 10%; background-color: #2C3E50; border-color: #2C3E50; color: #ECF0F1">Guardar</button>                                                                                              
                                                </div>
                                        </div>
                                </div>

                                <div id="verCajas" class="tab-pane fade col-md-12">
                                        <nav data-toggle="collapse" data-parent="#verCajas" name="" class="list-group-item row" aria-label="Page navigation">
                                              <!-- Colocar el buscador calendario aca -->
                                              <div id="listaCajas" class="tab-content fade col-md-12 active in">
                                              </div>
                                              <ul id="paginationCajas" name="paginationCajas[]" class="pagination">
                                                <!-- Aca se cargaron las referencias a las paginas-->
                                              </ul>
                                        </nav>

                                </div>
                                                </div>
                                        </div>
                                </div>
                      </div>
                </div>
        </div>
</div>



<!-- - - - - - - - - - - - - - - - - - - - - - Cierre Modal Ver Caja -->



<!-- - - - - - - - - - - - - - - Modal añadir producto x proveedor- -->
 <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="añadirProductoProveedor" aria-hidden="true" id="añadirProductoProveedor">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" style="background-color: #ECF0F1; position:fixed">

      <h3 style="color: #ECF0F1; background-color: #D94738; padding: 1%; padding-left: 5%; text-align: center">Añadir productos al proveedor</h3>

      <div style="margin: 50px;">
        <div class="row">
          <div class="col-md-4">
            <div class="input-group" style="width: 100%;height: 50px;">
            <span class="input-group-addon" style="width: 30%;background-color: #3498DB; color:#ECF0F1; border-color: #3498DB" id="basic-addon1">Busqueda por Codigo:</span>
            <input id="codigoProd"" name="dni" type="text" class="form-control" placeholder="Codigo" aria-describedby="basic-addon1" style="height: 50px;"" onkeyup="buscarProd('code')">
            </div>
          </div>
          <div class="col-md-6">
            <div class="input-group" style="width: 100%; height: 50px;">
            <span class="input-group-addon" style="width: 30%;background-color: #3498DB; color:#ECF0F1; border-color: #3498DB" id="basic-addon1">Busqueda por Nombre:</span>
            <input id="nombreProd" type="text" class="form-control" placeholder="Nombre" aria-describedby="basic-addon1" style="height: 50px;" onkeyup="buscarProd('name')">
            </div>
          </div>
        </div>        


        <div class="row">

          <div class="col-md-12" style="overflow-y:scroll; height: 300px">

            <table class="table" id="productos">
                <thead>
                <tr>
                  <th style="text-align: center;">Codigo</th>
                  <th style="text-align: center;">Nombre</th>
                  <th style="text-align: center;">Seleccionar</th>                  
                </tr>
              </thead>
                <tbody id="containerAñadirProductos">
                </tbody>
            </table>

          </div>

          <input type="hidden" value="" id="idProveedor">
          <button type="button"  class="btn btn-primary" data-toggle="modal" data-target="#añadirProductoProveedor"  style="float: right; margin-right: 10%; margin-top: 5%; background-color: #2C3E50; border-color: #2C3E50; color: #ECF0F1" onclick='guardarProductoXProveedor($("#idProveedor").val())'>Listo</button>
          
        </div>
    
      </div>
    </div>
  </div>

</div>
<!-- - - - - - - - - - - - - - - - - - - - - - Cierre Modal añadir producto x proveedor -->


<script type="text/javascript">

  //por defecto cargo los productos
 $().initPanelProductos();



//------ Cambio de vista ----- //
//$(document).ready(function(){

//});
  $("#menuProductos").click(function(){
    $("#panelContenedor").innerHTML= '';
    $("#panelBusqueda").innerHTML= '';
    $().initPanelProductos();  
   // $("#menuProductos").addClass("active textoMenuActive");
  });

  $("#menuTerminalDeCompras").click(function(){
    $("#panelContenedor").innerHTML= '';
    $("#panelBusqueda").innerHTML= '';
    $().initTerminalDeCompra();  
   // $("#menuProductos").addClass("active textoMenuActive");
  });

  $("#menuUsuarios").click(function(){
    //$("#panelBusqueda").innerHTML= '';
      $("#panelContenedor").innerHTML= '';
      $("#panelContenedor").load("vista/terminalAdministrador/html/vistaUsuarios.html");
      $().initPanelUsuarios();
  });

//------------------- Buscador  --------------------
function cargarResultadoXclase(datos,Class){
      var elemenetos = document.getElementsByName(Class);

     // console.log("Datos:   " +datos);
     // console.log("Clase:   " +Class);
      var bus = document.getElementById(datos).value;
      bus = bus.toUpperCase();
     // document.getElementById("panelResultados").innerHTML = '';
//document.getElementsByName("resultadoProductos")[0].getElementsByTagName("div")[0].getElementsByTagName('p')[0].id
      if(bus != ''){
          for(var i = 0; i < elemenetos.length; i++){

            if(elemenetos[i].getElementsByTagName("div")[0].getElementsByTagName("p")[0].id.toUpperCase().indexOf(bus) != -1){//||((elemenetos[i].getElementsByTagName("div")[0].getElementsByTagName('p')[0].name.toUpperCase().indexOf(bus) != -1)))
                elemenetos[i].style.display = "block";
              //document.getElementById("panelResultados").appendChild(elemenetos[i]);

            }else
                elemenetos[i].style.display = "none";
          }
      }else{
          for(var i = 0; i < elemenetos.length; i++)
              elemenetos[i].style.display = "block";
      }
}

//--------------------------------  Funcion que se encarga de controlar todos los paginations
function cambiarPagination(lugar, Clase, link,elementos){
  if(lugar == "previous"){
      var paginas = document.getElementsByClassName(Clase);
      for(var i  =0 ; i < paginas.length; i++){
          //---- Obtengo la pagina donde estoy parado

            if($("#"+Clase+i).hasClass(Clase + ' active')){              
              //---- Me fijo si se trata de una pagina oculta   
               if(i>7 && i <= paginas.length-1){                     
                  $("#"+Clase+(i-1)).removeClass("hidden");
                  if(i!=paginas.length-1)
                    $("#"+Clase+i).addClass("hidden");
                  if(i>8)
                    $("#"+Clase+"7").addClass("hidden");
               }              
               if(i == 0 || i == 1)
                      $("#previous").addClass('disabled');
               else{
                      $("#previous").removeClass('disabled');                  
                }
               //--- Selecciono la pagina anterior si no es la primer pagina
               if(i>=1){
                   $("#"+Clase+(i-1)).addClass("active");
                   $("#"+Clase+(i)).removeClass("active");
                   cambiarPagination(i-1,Clase,link,elementos);
              }
            }
      }

  }else{
    if(lugar =="next"){
      var paginas = document.getElementsByClassName(Clase);
      for(var i =paginas.length ; i >=0; i--){
          if($("#"+Clase+i).hasClass(Clase + ' active')){
             //---- Me fijo si se trata de una pagina oculta
               if(i>=7 && i < paginas.length-2){                 
                  $("#"+Clase+(i+1)).removeClass("hidden");
                  $("#"+Clase+i).addClass("hidden");
               }
               if(i == paginas.length-1){                    
                      $("#next").addClass('disabled');
               }else{               
                      $("#next").removeClass('disabled');
               }
              //--- Selecciono la pagina anterior si no es la primer pagina
               if(i<paginas.length-1){
                   $("#"+Clase+(i+1)).addClass("active");
                   $("#"+Clase+(i)).removeClass("active");
                   cambiarPagination(i+1,Clase,link,elementos);
              }
          }
            /*if($("#"+Clase+i).hasClass(Clase+' active') && !$("#next").hasClass('disabled')){
              //---- Me fijo si se trata de una pagina oculta
               if(i>=7 && i < paginas.length-2){                 
                  $("#"+Clase+(i+1)).removeClass("hidden");
                  $("#"+Clase+i).addClass("hidden");
               }
               if(i == paginas.length-2){                    
                      $("#next").addClass('disabled');
               }else{
                      $("#next").removeClass('disabled');
                }
               //--- Selecciono la pagina anterior si no es la primer pagina
               if(i<=paginas.length){
                   $("#"+Clase+(i+1)).addClass("active");
                   $("#"+Clase+(i)).removeClass("active");
                 //  cambiarPagination(i+1,Clase,link,elementos);
              }                       
            }*/
      }
    }else{
      var paginas = document.getElementsByClassName(Clase);
       // for(var i =paginas.length ; i >=0; i--){

          // muestro el contenido de esa pagina
           // if($("#"+Clase+lugar).hasClass(Clase+' active')){
                if(lugar<=7){
                 // console.log("Entro");
                  //if($("#"+Clase+7).hasClass("hidden"))
                      $("#"+Clase+7).removeClass("hidden");
                    for(var j=8;j<(paginas.length-1); j++){
                      $("#"+Clase+j).addClass("hidden");
                      console.log("asd");
                    }
                }
                resultados = document.getElementsByName(elementos);
                //--- Oculto a todos los resultados
                for(var j=0; j < resultados.length ; j++){
                    resultados[j].style.display = 'none'; 
                }
                resultados = document.getElementsByClassName(elementos+lugar);
               
                //--- Muestro los elementos de esa pagina
                for(var j=0; j < resultados.length ; j++){
                   // resultados[j].removeClass('hidden');
                    resultados[j].style.display = 'block';
                }

           // }
       // }
      }
    }
}


//------------------------------------- Eventos de los botones -------------------------------------//

function vaciarFormularios(modal) {

  if(modal == "productos"){
  //--- productos
      $("#tituloModal").text("Alta de productos");
      document.getElementById('contenedorProductos').innerHTML = '';
      //-- Agrego el boton para agregar Productos
      document.getElementById('botonAgregarProducto').innerHTML = '<div style="width:100%;float:right;"><button  type="button" class="btn btn-default" onclick="agregarProducto()" style="width:100%;float:left;"><span class="glyphicon glyphicon-plus"  style="color: #E74C3C" aria-hidden="true"></span> Producto</button></div>';
      //--------
      document.getElementById('nombreProducto1').value = '';
      document.getElementById('precioCompra1').value = 0;
      document.getElementById('porcentajeVenta1').value = 0;
      document.getElementById('cantidadProducto1').value = 0;
      document.getElementById('precioProducto1').value = '';
  }else{
    //--- usuarioos
      if(modal == "usuarios"){
        $("#tituloModal").text("Alta de usuario");
        document.getElementById('apellidoUsuario').value = '';
        document.getElementById('nombreUsuario').value = '';
        document.getElementById('dniUsuario').value = '';
        document.getElementById('contrasena').value = '';
        document.getElementById('contrasena2').value = '';
      }else{
        //--- Proveedores
        $("#tituloModal").text("Alta de proveedor");
        document.getElementById("idProveedor").value = '';
        document.getElementById('razonsocialProveedor').value = '';
        document.getElementById('cuitProveedor').value = '';
        document.getElementById('telefonoProveedor').value = '';
        document.getElementById('emailProveedor').value = '';
        $("#errorProveedor").empty();
        $("#error").hide();
        
      }
  }
 }
</script>
