<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#contenedorRegistros">Reporte de Errores</a></li>
    <li><a data-toggle="tab" href="#contenedorCajas">Reporte de Cajas</a></li>
</ul>
  <div class="tab-content">
      <div id="contenedorRegistros" class="tab-pane fade in active"  style="background-color:white">
      	<p class="text-muted" style="padding:2%">No hay ningun registro de errores actualmente.</p>
      </div>

      <div id="contenedorCajas" class="tab-pane fade"  style="background-color:white">
      <p class="text-muted" style="padding:2%">No hay ninguna caja actualmente.</p>
      </div>
  </div>