<a href="#" id="" class="list-group-item" style="margin-bottom: 20px; background-color: #2C3E50; color:#ECF0F1"><h3>Opciones de la terminal</h3></a>
<a href="#" id="menuPacientes" class="list-group-item active textoMenuActive" data-toggle="modal" data-target=".bd-example-modal-lg" >Agregar Producto <span style="margin-top:5px;float:right;" class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span></a>
<a href="#" id="menuGimnasio" class="list-group-item active textoMenuActive" data-toggle="modal" data-target=".bd-example-modal-lg-retiro" style="margin-top: 5%;">Realizar Retiro<span style="margin-top:5px;float:right;" class="glyphicon glyphicon-open" aria-hidden="true"></span></a>
<a href="#" id="menuGimnasio" class="list-group-item active textoMenuActive" onclick="mostrarCerrarCaja();" style="margin-top: 5%;">Cerrar Caja <span style="margin-top:5px;float:right;" class="glyphicon glyphicon-off" aria-hidden="true"></span></a>