<script type="text/javascript" src="vista/terminalVenta/js/montoInicial.js"></script>
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading" style="text-align: center;font-size: 16px;"><b>Ingrese el Monto Inicial de la Caja<b></div>
    <div class="input-group" style="width: 60%;margin-left:20%;margin-top:5%;margin-bottom: 5%;height: 50px;">
        <span class="input-group-addon" style="width: 30%;background-color: #3498DB; color:#ECF0F1; border-color: #3498DB" id="basic-addon1">Monto Inicial:</span>
        <input id="montoInicial" name="montoInicial" type="number" step=1 min=1 class="form-control" placeholder="Monto Inicial..." aria-describedby="basic-addon1" style="height: 50px;">
    </div>
    <center>
            <button id="botonCajaNueva" class="btn btn-block btn-primary"  style="width:60%;background-color: #8BC34A; border-color: #7CB342; color: #ECF0F1;margin:3%;font-size:16px;"><span class="glyphicon glyphicon-plus" aria-hidden="true" style="margin-right: 10px;"></span><span class="glyphicon glyphicon-inbox" aria-hidden="true"></span></button>
                      <div class="alert alert-danger" id="error" role="alert" style="display:none;text-align: center;width: 60%;">
                          </div>

</div>