<script type="text/javascript" src="vista/terminalVenta/js/terminalVenta.js"></script>
<script type="text/javascript">initTerminalVenta();</script>
<nav class="navbar navbar-default">
            <div class="container" id="nombreUsuario" style="margin-top: 15px;text-align: center;width:100%;">
            Terminal de venta - Usuario actual: <b id="nombreapellidosusuario"></b>
            </div>
          </nav>

          <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading" style="text-align: center;font-size: 16px;">Venta numero: <b id="numeroVenta"></b></div>
            <table class="table">
                <thead>
                <tr>
                  <th style="text-align: center;">Nombre</th>
                  <th style="text-align: center;">Cantidad</th>
                  <th style="text-align: center;">Precio de Venta</th>
                  <th style="text-align: center;"></th>
                </tr> 
              </thead>
                <tbody id="containerProductosVenta">
                </tbody>
            </table>
          </div>

          <div class="col-lg-12">
          <div class="col-lg-4">
            <div class="container" id="totalVenta" style="font-size:20px;text-align: center;width:100%;">
            <b>Total: $100</b>
            </div>
          </div>
          <div class="col-lg-4">
            <button id="botonVentaNueva" class="btn btn-block btn-primary" onclick="initTerminalVenta();" style="background-color: #D32F2F; border-color: #C62828; color: #ECF0F1;"><span class="glyphicon glyphicon-remove" aria-hidden="true" style="margin-right: 5%"></span><span class="glyphicon glyphicon-file" aria-hidden="true"></span></button>
            </div>
          <div class="col-lg-4">
            <button id="botonCerrarVenta" 
            onclick='mostrarModalCerrarVenta();'; 
            class="btn btn-block btn-primary"  style="background-color: #8BC34A; border-color: #7CB342; color: #ECF0F1"><span class="glyphicon glyphicon-ok" aria-hidden="true" style="margin-right: 5%"></span><span class="glyphicon glyphicon-inbox" aria-hidden="true"></span></button>
          </div>
          </div>


            <div class="row" style="margin-top: 13%; padding-left: 2%; padding-right:2%" >
              <div class="col-lg-12">

                <ul class="list-group" id="panelDiagnostico">
                  

                </ul>
              </div>
            </div>

<!-- MODAL PRODUCTOS -->
  <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="agregarProducto" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" style="background-color: #ECF0F1">

      <h3 style="color: #ECF0F1; background-color: #D94738; padding: 1%; padding-left: 5%">Agregar Producto</h3>

      <div style="margin: 50px;">
        <div class="row">
          <div class="col-md-4">
            <div class="input-group" style="width: 100%;height: 50px;">
            <span class="input-group-addon" style="width: 30%;background-color: #3498DB; color:#ECF0F1; border-color: #3498DB" id="basic-addon1">Busqueda por Codigo:</span>
            <input id="filtroCodigoProducto"" name="dni" type="text" class="form-control" placeholder="Codigo" aria-describedby="basic-addon1" style="height: 50px;">
            </div>
          </div>
          <div class="col-md-6">
            <div class="input-group" style="width: 100%; height: 50px;">
            <span class="input-group-addon" style="width: 30%;background-color: #3498DB; color:#ECF0F1; border-color: #3498DB" id="basic-addon1">Busqueda por Nombre:</span>
            <input id="filtroNombreProducto" type="text" class="form-control" placeholder="Nombre" aria-describedby="basic-addon1" style="height: 50px;">
            </div>
          </div>
        </div>        


        <div class="row">

          <div class="col-md-12">
 

            <table class="table" id="productos">
                <thead>
                <tr>
                  <th style="text-align: center;">Codigo</th>
                  <th style="text-align: center;">Nombre</th>
                  <th style="text-align: center;">Cantidad</th>
                  <th style="text-align: center;">Precio de Venta ($)</th>
                  <th style="text-align: center;"></th>
                </tr>
              </thead>
                <tbody id="containerproductos">
                </tbody>
            </table>

          </div>

          <div class="col-md-6">           

          </div>
          
          <button type="button"  class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg"  style="float: right; margin-right: 10%; margin-top: 10%; background-color: #2C3E50; border-color: #2C3E50; color: #ECF0F1">Listo</button>
          
        </div>
    
      </div>
    </div>
  </div>

</div>


<!-- MODAL RETIROS -->
  <div class="modal fade bd-example-modal-lg-retiro" tabindex="-1" role="dialog" aria-labelledby="agregarProducto" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" style="background-color: #ECF0F1">

      <h3 style="color: #ECF0F1; background-color: #D94738; padding: 1%; padding-left: 5%">Realizar Retiro</h3>

      <div style="margin: 50px;">
        

        <div class="row">

          <div class="col-md-12">
 
          <div id="" class="list-group-item active textoMenuActive" style="text-align:center;">Ingrese su DNI, Contraseña y el monto a retirar.</div>

          <!--ACA HAY QUE HACER CON JS EL ACTIVE Y NO ACTIVE, Y TAMBIEN AUMENTAR LA FUENTE CUANDO CORRESPONDA. SERIA EL h4-->
          <div href="#" id="menuTurnos" class="list-group-item">
              <div class="input-group" style="width: 60%;margin-left:20%;margin-top:5%; height: 50px;">
                  <span class="input-group-addon" style="width: 30%;background-color: #3498DB; color:#ECF0F1; border-color: #3498DB" id="basic-addon1">DNI:</span>
                  <input id="dni" name="dni" type="text" class="form-control" placeholder="Su DNI..." aria-describedby="basic-addon1" style="height: 50px;">
              </div>
              <div class="input-group" style="width: 60%;margin-left:20%;margin-top:5%;margin-bottom: 5%;height: 50px;">
                  <span class="input-group-addon" style="width: 30%;background-color: #3498DB; color:#ECF0F1; border-color: #3498DB" id="basic-addon1">Contraseña:</span>
                  <input id="pass" name="pass" type="password" class="form-control" placeholder="Su contraseña..." aria-describedby="basic-addon1" style="height: 50px;">
              </div>
              <div class="input-group" style="width: 60%;margin-left:20%;margin-top:5%;margin-bottom: 5%;height: 50px;">
                  <span class="input-group-addon" style="width: 30%;background-color: #3498DB; color:#ECF0F1; border-color: #3498DB" id="basic-addon1">Monto a retirar:</span>
                  <input id="montoRetiro" name="montoRetiro" type="number" step=1 min=1 class="form-control" placeholder="Monto a retirar..." aria-describedby="basic-addon1" style="height: 50px;">
              </div>

                      <div class="alert alert-danger" id="error" role="alert" style="display:none;text-align: center,">
                          </div>
<button type="button" id="botonRetiro" class="btn btn-default" style="background-color: #3498DB; color:#ECF0F1; border-color: #3498DB;width: 60%;margin-left: 20%;" aria-label="Left Align">Realizar Retiro
                  </button>
          </div>

          <div class="col-md-6">           

          </div>
          
          <button type="button" id="botonCerrarRetiro"  class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg-retiro"  style="float: right; margin-right: 10%; margin-top: 10%; background-color: #2C3E50; border-color: #2C3E50; color: #ECF0F1">Salir</button>
          
        </div>
    
      </div>
    </div>
  </div>

</div>